<%= form_with model: @event do |form| %>
  <p>パーティ名: <%= form.text_area :name, required: true %></p>
  <p>パーティ内容: <%= form.text_area :context, required: true %></p>
  <p>集合場所 <%= form.text_area :place, required: true %></p>
  <p>連絡方法 <%= form.text_area :contact, required: true %></p>
  <p>パーティ開催日時: 
  <%= form.datetime_select :started_date %>
  </p>
  <p><%= form.submit %></p>
<% end %>