<div class="sakura-home">
  <div class="home-title">
    登録パーティ一覧
  </div>
  <% if logged_in? && current_user.organaizer == true %>
    <%= link_to "パーティを新規登録する", new_event_path %>
  <% end %>
  <div class="party-new">

  </div>
  <%= paginate @events %>
  <% @events.each do |event| %>
  <div class="Party-info">
    <div class="Party-info-box">
      <p class="Party-info-name"><%= event.name %></p>
      <p class="Party-info-time">開催日時: <%= event.started_date.strftime('%Y年%m月%d日 %H:%M~') %></p>
      <% if event.capacity.present? %>
        <p class="Party-info-capacity">定員人数: <%= event.capacity %>名</p>
      <% end %>
      <p class="Party-info-place">集合場所: <%= event.place %></p>
      <p class="Party-info-context-name">パーティの主な内容</br>
       <%= simple_format(event.context, :class => "Party-info-context") %></p>
      <p class="Party-info-organaizer">オーガナイザー: <%= event.user.user_name %> さん</p>
      <% if event.event_image.attached? %>
        <%= image_tag url_for(event.event_image.variant(resize: '200x300')) %>
      <% end %>
    </div>
    <div class="party-attend">
      <% if logged_in? %>
        <button class="party-attend-button">
          <%= link_to "参加申し込み / パーティ詳細情報", event_path(event.id) %>
        </button>
      <% else %>
        <p>パーティに申し込むにはログインしてください</p>
        <button class="party-attend-button">
          <%= link_to "ログイン・新規登録(Twitterアカウントが必要です)", "/auth/twitter" %>
        </button>
      <% end %>
      </button>
    </div>
  </div>
  <% end %>
</div>