<div class="sakura-home">
  <div class="home-title">
    サクラ荘パーティ参加登録サイト（β版)
  </div>
  <% if logged_in? && current_user.organaizer == true %>
    <%= link_to "パーティを新規登録する", new_event_path %>
  <% end %>
  <div class="party-new">

  </div>
  <div class="party-index">
    最新のパーティ情報
  </div>
  <% @events.each do |event| %>
  <div class="Party-info">
    <div class="Party-info-box">
      <p class="Party-info-time">開催日時: <%= event.started_date.strftime('%Y年%m月%d日 %H:%M~') %></p></br>
      <p class="Party-info-name">パーティ名: <%= event.name %></p>
      <p class="Party-info-context">パーティの主な内容:</br> <%= event.context %></p>
      <p class="Party-info-place">集合場所:<%= event.place %></p>
      <p class="Party-info-organaizer">オーガナイザー: <%= event.user.user_name %> さん</p>
    </div>
    <div class="party-attend">
      <% if logged_in? %>
        <button class="party-attend-button">
          <%= link_to "参加申し込み / パーティ詳細情報", event_path(event.id) %>
        </button>
      <% else %>
        <p>パーティに申し込むにはログインしてください</p>
        <button class="party-attend-button">
          <%= link_to "ログイン・新規登録(Twitterアカウントが必要です)", "/auth/twitter" %>
        </button>
      <% end %>
      </button>
    </div>
  </div>
  <% end %>
</div>