<%= form_with model: Event.new do |form| %>
  <p>パーティ名: <%= form.text_field :name %></p>
  <p>パーティ内容: <%= form.text_field :context %></p>

  <p>パーティ日時: 
  <%= form.date_select :started_date %>
  <%= form.time_select :started_date %>
  </p>
  <p><%= form.submit %></p>
<% end %>