<%= form_with model: Event.new do |form| %>
  <div class="party-name-form">パーティ名: <%= form.text_area :name, required: true %></div>
  <div class="party-context-form">パーティ内容: <%= form.text_area :context, required: true %></div>
  <div class="party-place-form">集合場所 <%= form.text_area :place, required: true %></div>
  <div class="party-contact-form">連絡方法 <%= form.text_area :contact, required: true %></div>
  <div>パーティ日時: 
  <%= form.datetime_select :started_date %>
  </div>
  <div><%= form.submit %></div>
<% end %>