  <div class="party-index">
    パーティ情報
  </div>
  <% if current_user == @event.user %>
    <%= link_to "パーティを削除する", event_path(@event), :method => :delete %>
    <%= link_to "パーティ情報を編集する", edit_event_path(@event) %>
  <% end %>
  <div class="Party-info">
    <div class="Party-info-box">
      <p class="Party-info-name"><%= @event.name %></p>
      <p class="Party-info-time">開催日時: <%= @event.started_date.strftime('%Y年%m月%d日 %H:%M~') %></p>
      <p class="Party-info-place">集合場所:<%= @event.place %></p>
      <p class="Party-info-context-name">パーティの主な内容</br>
       <%= simple_format(@event.context, :class => "Party-info-context") %></p>
      <p class="Party-info-organaizer">オーガナイザー: <%= @event.user.user_name %> さん</p>
      <% if @user_attend %>
        <p class="Party-info-contact">連絡方法</br><%= simple_format(text_url_to_link(h(@event.contact)).html_safe) %><p>
      <% end %>
    </div>
      <div class="share-icon"%>
        <div class="show-share-icon-box">
          <div class="twitter-share-link">
            <a href="http://twitter.com/share?url=<%= root_url %>&amp;text=「<%= @attend.event.name.to_s %>」の参加登録を完了しました!&amp;related=kiryuanzu&amp;hashtags=sakura_party" id="tweet" target="_blank" name="tweet"><div class="fa fa-twitter-square t-customize"></div></a>
          </div>

          <div class="facebook_share_icon" >
            <a href="https://www.facebook.com/share.php?u=<%= root_url_encode %>" target="_blank">
              <div class="fa fa-facebook-square f-customize"></div>
            </a>
          </div>
        </div>
  </div>
    </div>
  </div>
  <div class="attend-index">
    参加者一覧<span class="attend-tips">(参加登録後に見ることができます)</span>
  </div>
<% if @user_attend %>
  <% @attends.each do |attend| %>
    <div class="attend-user">
      <div class="attend-user-icon">
        <%= image_tag attend.user.image_url %>
      </div>
      <div class="attend-user-name">
        <%= link_to attend.user.user_name.to_s + "さん", user_path(attend.user) %></p>
      </div>
    </div>
  <% end %>
  <div class="cancel-attend">
    <button class="cancel-attend-button">
      <%= link_to "キャンセルする", attend_path(@user_attend.id), :method => :delete %>
    </button>
  </div>
  <% else %>
    <div class="attend-form-box">
    <div class="attend-form">
      <%= form_for(@attend) do |f| %>
        <%= f.hidden_field :event_id %>
        <%= f.submit "参加する", class: "party-attend-button" %>
      <% end %>
    </div>
  </div>
<% end %>
