  <div class="party-index">
    パーティ情報
  </div>
 <div class="Party-info">
    <div class="Party-info-box">
      <p class="Party-info-time">日時: <%= @event.started_date %></p></br>
      <p class="Party-info-name">パーティ名: <%= @event.name %></p>
      <p class="Party-info-context">パーティの主な内容:</br> <%= @event.context %></p>
      <p class="Party-info-organaizer">オーガナイザー: <%= @event.user.user_name %> さん</p>
    </div>
  </div>
  <div class="attend-index">
    参加者一覧<span class="attend-tips">(参加登録後に見ることができます)</span>
  </div>
<% if @user_attend %>
  <% @attends.each do |attend| %>
    <div class="attend-user">
      <div class="attend-user-icon">
        <%= image_tag attend.user.image_url %>
      </div>
      <div class="attend-user-name">
        <%= link_to attend.user.user_name.to_s + "さん", user_path(attend.user) %></p>
      </div>
    </div>
  <% end %>
  <div class="cancel-attend">
    <button class="cancel-attend-button">
      <%= link_to "キャンセルする", attend_path(@user_attend.id), :method => :delete %>
    </button>
  </div>
  <% else %>
    <div class="attend-form-box">
    <div class="attend-form">
      <%= form_for(@attend) do |f| %>
        <%= f.hidden_field :event_id %>
        <%= f.submit "参加する", class: "party-attend-button" %>
      <% end %>
    </div>
  </div>
<% end %>
