<%= form_with model: Attend.new do |form| %>
  <span>コメント(自由記述)</span>
  <%= form.text_field :comment %>

  <span>参加意向</span>
  <%= form.text_field :mind %>
  <%= hidden_field_tag(:event_id, event.id) %>
  <%= hidden_field_tag(:user_id, current_user.id) %>
  <%= form.submit %>
<% end %>