<!DOCTYPE html>
<html>
  <head>
    <title>SakuraParty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="header-nav">
  <span class="site-title"><%= link_to "サクラ荘パーティ参加登録サイト(β版)", root_url %></span>
  <nav class="nav-header">
    <ul class="nav-list-ul">
      <% if logged_in? %>
      <li class="nav-list-li"><%= link_to "参加したパーティ一覧", user_path(current_user), class: "user-attend-index" %></li>
      <% else %>
        <li class="nav-list-li"><%= link_to "ログイン", "/auth/twitter" %></li>
        <li class="nav-list-li"><a href="#">サクラ荘について</a></li>
      <% end %>
    </ul>
  </nav>
</header>
  <div id="wrapper">
    <div class="main">
      <%= yield %>
    </div>
  </div>
  
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</body>
</html>
